<nav class="navbar navbar-default" ng-init="$ctrl.getTeams()">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand"> NBA Trade Machine</p>
    </div>
  </div>
</nav>
<section id="results-view" ng-show="$ctrl.tradeComplete">
  <div class="results-buttons">
    <div class="results-btn">
      <button type="button" class="kb-btn" ng-click="$ctrl.resetTeams()">Reset Trade</button>
    </div>
    <div class="results-btn">
      <button type="button" class="kb-btn" ng-click="$ctrl.adjustTrade()">Adjust Trade</button>
    </div>
  </div>
  <div class="results-section">
    <h2 class="success" ng-show="$ctrl.tradeResult.success">Trade Succeeds</h2>
    <h2 class="failed" ng-show="!$ctrl.tradeResult.success">Trade Fails</h2>
  </div>
  <div class="results-section reasons" ng-show="!$ctrl.tradeResult.success">
    <h3>Trade Failed For The Following Reasons</h3>
    <ul>
      <li ng-repeat="reason in $ctrl.tradeResult.reasonsForFailing">{{reason}}</li>
    </ul>
  </div>
  <div ng-repeat="team in $ctrl.tradeResult.involved" class="results-team">
    <h3 class="success" ng-show="team.success">{{team.team}}</h3>
    <h3 class="failed" ng-hide="team.success">{{team.team}}</h3>
    <div class="results-labels">
      <p><b>Change in Salary</b></p>
      <p><b>Updated Cap Room</b></p>
      <p><b>Updated Salary</b></p>
    </div>
    <div class="results-data">
      <p>{{team.capChangeDisplay}} ${{team.capChange | number}}</p>
      <p>{{team.finalCapRoomDisplay}}{{team.finalCapRoom | number}}</p>
      <p>${{team.finalSalary | number}}</p>
    </div>
    <div class="results-players">
      <div class="results-traded">
        <h4>Traded Away:</h4>
        <div class="results-player-labels">
          <div class="player-info">
            <p>Player</p>
          </div>
          <div class="player-contract">
            <p>Salary</p>
          </div>
        </div>
        <div class="results-single-player" ng-repeat="player in team.playersLost">
          <div class="player-info">
            <h5>{{player.firstName[0]}}. {{player.lastName}}</h5>
            <p class="player-position">{{player.position}}</p>
            <p class="player-age">{{player.age}} years old</p>
          </div>
          <div class="player-contract">
            <p>${{player.contract.yearByYear[0] | number}}</p>
            <p>{{player.contract.yearByYear.length}} years</p>
          </div>
        </div>
      </div>
      <div class="results-traded">
        <h4>Traded For:</h4>
        <div class="results-player-labels">
          <div class="player-info">
            <p>Player</p>
          </div>
          <div class="player-contract">
            <p>Salary</p>
          </div>
        </div>
        <div class="results-single-player" ng-repeat="player in team.newPlayers">
          <div class="player-info">
            <h5>{{player.firstName[0]}}. {{player.lastName}}</h5>
            <p class="player-position">{{player.position}}</p>
            <p class="player-age">{{player.age}} years old</p>
          </div>
          <div class="player-contract">
            <p>${{player.contract.yearByYear[0] | number}}</p>
            <p>{{player.contract.yearByYear.length}} years</p>
          </div>
        </div>
      </div>
      <div class="results-summary-container">
        <div class="results-summary">
          <div class="results-number">
            <p>Getting {{team.playersLost.length}} player(s)</p>
          </div>
          <div class="results-money">
            <p>${{team.salaryLost | number}}</p>
          </div>
        </div>
        <div class="results-summary">
          <div class="results-number">
            <p>Sending {{team.newPlayers.length}} player(s)</p>
          </div>
          <div class="results-money">
            <p>${{team.salaryGained | number}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="machine-view" ng-hide="$ctrl.tradeComplete">
  <div class="machine-head">
    <div class="choose-team-label">
      <p>Select teams to include them in a trade</p>
    </div>
    <div class="choose-team-dropdowns">
      <div class="single-dropdown" uib-dropdown ng-class="$ctrl.dropDownWidth">
        <button id="choose-team-one" type="button" class="kb-btn-team" uib-dropdown-toggle>{{$ctrl.teamOne.team.name}}  <div class="down-arrow"></div></button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-team-one">
          <li role="menuitem" class="first-li" ng-style="$ctrl.teams[0].background"><a href ng-click="$ctrl.teams[0].inTrade || $ctrl.setTeamSlot($ctrl.teamOne, $ctrl.teams[0])">{{$ctrl.teams[0].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[1].background"><a href ng-click="$ctrl.teams[1].inTrade || $ctrl.setTeamSlot($ctrl.teamOne, $ctrl.teams[1])">{{$ctrl.teams[1].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[2].background"><a href ng-click="$ctrl.teams[2].inTrade || $ctrl.setTeamSlot($ctrl.teamOne, $ctrl.teams[2])">{{$ctrl.teams[2].name}}</a></li>
          <li role="menuitem" class="last-li" ng-style="$ctrl.teams[3].background"><a href ng-click="$ctrl.teams[3].inTrade || $ctrl.setTeamSlot($ctrl.teamOne, $ctrl.teams[3])">{{$ctrl.teams[3].name}}</a></li>
        </ul>
      </div>
      <div class="single-dropdown" uib-dropdown ng-class="$ctrl.dropDownWidth">
        <button id="choose-team-two" type="button" class="kb-btn-team" uib-dropdown-toggle>{{$ctrl.teamTwo.team.name}}  <div class="down-arrow"></div></button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-team-two">
          <li role="menuitem" class="first-li" ng-style="$ctrl.teams[0].background"><a href ng-click="$ctrl.teams[0].inTrade || $ctrl.setTeamSlot($ctrl.teamTwo, $ctrl.teams[0])">{{$ctrl.teams[0].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[1].background"><a href ng-click="$ctrl.teams[1].inTrade || $ctrl.setTeamSlot($ctrl.teamTwo, $ctrl.teams[1])">{{$ctrl.teams[1].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[2].background"><a href ng-click="$ctrl.teams[2].inTrade || $ctrl.setTeamSlot($ctrl.teamTwo, $ctrl.teams[2])">{{$ctrl.teams[2].name}}</a></li>
          <li role="menuitem" class="last-li" ng-style="$ctrl.teams[3].background"><a href ng-click="$ctrl.teams[3].inTrade || $ctrl.setTeamSlot($ctrl.teamTwo, $ctrl.teams[3])">{{$ctrl.teams[3].name}}</a></li>
        </ul>
      </div>
      <div class="single-dropdown" uib-dropdown ng-class="$ctrl.dropDownWidth" ng-show="$ctrl.activeList.length > 1">
        <button id="choose-team-three" type="button" class="kb-btn-team" uib-dropdown-toggle>{{$ctrl.teamThree.team.name}}  <div class="down-arrow"></div></button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-team-three">
          <li role="menuitem" class="first-li" ng-style="$ctrl.teams[0].background"><a href ng-click="$ctrl.teams[0].inTrade || $ctrl.setTeamSlot($ctrl.teamThree, $ctrl.teams[0])">{{$ctrl.teams[0].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[1].background"><a href ng-click="$ctrl.teams[1].inTrade || $ctrl.setTeamSlot($ctrl.teamThree, $ctrl.teams[1])">{{$ctrl.teams[1].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[2].background"><a href ng-click="$ctrl.teams[2].inTrade || $ctrl.setTeamSlot($ctrl.teamThree, $ctrl.teams[2])">{{$ctrl.teams[2].name}}</a></li>
          <li role="menuitem" class="last-li" ng-style="$ctrl.teams[3].background"><a href ng-click="$ctrl.teams[3].inTrade || $ctrl.setTeamSlot($ctrl.teamThree, $ctrl.teams[3])">{{$ctrl.teams[3].name}}</a></li>
        </ul>
      </div>
      <div class="single-dropdown" uib-dropdown ng-class="$ctrl.dropDownWidth" ng-show="$ctrl.activeList.length > 2">
        <button id="choose-team-four" type="button" class="kb-btn-team" uib-dropdown-toggle>{{$ctrl.teamFour.team.name}}  <div class="down-arrow"></div></button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-team-four">
          <li role="menuitem" class="first-li" ng-style="$ctrl.teams[0].background"><a href ng-click="$ctrl.teams[0].inTrade || $ctrl.setTeamSlot($ctrl.teamFour, $ctrl.teams[0])">{{$ctrl.teams[0].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[1].background"><a href ng-click="$ctrl.teams[1].inTrade || $ctrl.setTeamSlot($ctrl.teamFour, $ctrl.teams[1])">{{$ctrl.teams[1].name}}</a></li>
          <li role="menuitem" ng-style="$ctrl.teams[2].background"><a href ng-click="$ctrl.teams[2].inTrade || $ctrl.setTeamSlot($ctrl.teamFour, $ctrl.teams[2])">{{$ctrl.teams[2].name}}</a></li>
          <li role="menuitem" class="last-li" ng-style="$ctrl.teams[3].background"><a  href ng-click="$ctrl.teams[3].inTrade || $ctrl.setTeamSlot($ctrl.teamFour, $ctrl.teams[3])">{{$ctrl.teams[3].name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="trade-buttons">
    <button type="button" class="kb-btn-two" ng-click="$ctrl.submitTrade()" ng-show="$ctrl.activeList.length > 1">Try This Trade</button>
    <button type="button" class="kb-btn-two" ng-click="$ctrl.resetTeams()" ng-show="$ctrl.activeList.length > 1">Reset Trade</button>
  </div>
  <div class="trade-info">
    <div class="team-wrapper" ng-class="$ctrl.width">
      <div class="trade-team" ng-show="$ctrl.teamOne.active">
        <div class="info-left">
          <h2>{{$ctrl.teamOne.team.name}}</h2>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Cap Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamOne.team.capDisplay}}{{$ctrl.teamOne.team.capDisplayNum | number}} </p>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Tax Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamOne.team.taxDisplay}}{{$ctrl.teamOne.team.taxDisplayNum | number}} </p>
        </div>
      </div>
    </div>
    <div class="team-wrapper" ng-class="$ctrl.width">
      <div class="trade-team" ng-show="$ctrl.teamTwo.active">
        <div class="info-left">
          <h2>{{$ctrl.teamTwo.team.name}}</h2>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Cap Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamTwo.team.capDisplay}}{{$ctrl.teamTwo.team.capDisplayNum | number}} </p>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Tax Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamTwo.team.taxDisplay}}{{$ctrl.teamTwo.team.taxDisplayNum | number}} </p>
        </div>
      </div>
    </div>
    <div class="team-wrapper" ng-class="$ctrl.width" ng-show="$ctrl.teamThree.active">
      <div class="trade-team">
        <div class="info-left">
          <h2>{{$ctrl.teamThree.team.name}}</h2>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Cap Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamThree.team.capDisplay}}{{$ctrl.teamThree.team.capDisplayNum | number}} </p>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Tax Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamThree.team.taxDisplay}}{{$ctrl.teamThree.team.taxDisplayNum | number}} </p>
        </div>
      </div>
    </div>
    <div class="team-wrapper" ng-class="$ctrl.width" ng-show="$ctrl.teamFour.active">
      <div class="trade-team">
        <div class="info-left">
          <h2>{{$ctrl.teamFour.team.name}}</h2>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Cap Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamFour.team.capDisplay}}{{$ctrl.teamFour.team.capDisplayNum | number}} </p>
        </div>
        <div class="info-right">
          <p ng-class="$ctrl.infoDisplay"> Tax Room: </p>
          <p ng-class="$ctrl.infoDisplay"> {{$ctrl.teamFour.team.taxDisplay}}{{$ctrl.teamFour.team.taxDisplayNum | number}} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="receiving">
    <div class="receiving-players" ng-class="$ctrl.width">
      <div class="receiving-labels" ng-show="$ctrl.teamOne.active">
        <div class="player-info">
          <p>Player</p>
        </div>
        <div class="player-contract">
          <p>Salary</p>
        </div>
      </div>
      <div class="player-container traded-player" ng-repeat="player in $ctrl.teamOne.receiving.players">
        <div class="player-info">
          <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
          <p class="player-position">{{player.position}}</p>
          <p class="player-age">{{player.age}} years old</p>
        </div>
        <div class="player-contract">
          <h3>${{player.contract.yearByYear[0] | number}}</h3>
          <p>{{player.contract.yearByYear.length}} years</p>
        </div>
      </div>
    </div>
    <div class="receiving-players" ng-class="$ctrl.width">
      <div class="receiving-labels" ng-show="$ctrl.teamTwo.active">
        <div class="player-info">
          <p>Player</p>
        </div>
        <div class="player-contract">
          <p>Salary</p>
        </div>
      </div>
      <div class="player-container traded-player" ng-repeat="player in $ctrl.teamTwo.receiving.players">
        <div class="player-info">
          <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
          <p class="player-position">{{player.position}}</p>
          <p class="player-age">{{player.age}} years old</p>
        </div>
        <div class="player-contract">
          <h3>${{player.contract.yearByYear[0] | number}}</h3>
          <p>{{player.contract.yearByYear.length}} years</p>
        </div>
      </div>
    </div>
    <div class="receiving-players" ng-class="$ctrl.width" ng-show="$ctrl.teamThree.active">
      <div class="receiving-labels">
        <div class="player-info">
          <p>Player</p>
        </div>
        <div class="player-contract">
          <p>Salary</p>
        </div>
      </div>
      <div class="player-container traded-player" ng-repeat="player in $ctrl.teamThree.receiving.players">
        <div class="player-info">
          <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
          <p class="player-position">{{player.position}}</p>
          <p class="player-age">{{player.age}} years old</p>
        </div>
        <div class="player-contract">
          <h3>${{player.contract.yearByYear[0] | number}}</h3>
          <p>{{player.contract.yearByYear.length}} years</p>
        </div>
      </div>
    </div>
    <div class="receiving-players" ng-class="$ctrl.width" ng-show="$ctrl.teamFour.active">
      <div class="receiving-labels">
        <div class="player-info">
          <p>Player</p>
        </div>
        <div class="player-contract">
          <p>Salary</p>
        </div>
      </div>
      <div class="player-container traded-player" ng-repeat="player in $ctrl.teamFour.receiving.players">
        <div class="player-info">
          <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
          <p class="player-position">{{player.position}}</p>
          <p class="player-age">{{player.age}} years old</p>
        </div>
        <div class="player-contract">
          <h3>${{player.contract.yearByYear[0] | number}}</h3>
          <p>{{player.contract.yearByYear.length}} years</p>
        </div>
      </div>
    </div>
  </div>
  <div class="machine-rosters">
    <div class="single-roster" ng-class="$ctrl.width">
      <div class="receiving-summary" ng-show="$ctrl.teamOne.active">
        <div class="receiving-number">
          <p>Getting {{$ctrl.teamOne.receiving.players.length}} player(s)</p>
        </div>
        <div class="receiving-money">
          <p>${{$ctrl.teamOne.receiving.money | number}}</p>
        </div>
      </div>
      <div class="roster-header" ng-show="$ctrl.teamOne.active">
        <p>{{$ctrl.teamOne.team.name}} roster</p>
      </div>
      <div class="player-container" ng-repeat="player in $ctrl.teamOne.team.roster" ng-class="player.background">
        <div class="choose-destination" ng-show="player.chooseDestination">
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamTwo.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamOne, $ctrl.teamTwo)">{{$ctrl.teamTwo.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamThree.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamOne, $ctrl.teamThree)">{{$ctrl.teamThree.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamFour.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamOne, $ctrl.teamFour)">{{$ctrl.teamFour.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-click="$ctrl.cancelSend(player)">Cancel</button>
        </div>
        <div class="player-standard" ng-hide="player.chooseDestination" ng-click="$ctrl.tradePlayer(player)">
          <div class="player-info">
            <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
            <p class="player-position">{{player.position}}</p>
            <p class="player-age">{{player.age}} years old</p>
          </div>
          <div class="player-contract">
            <h3>${{player.contract.yearByYear[0] | number}}</h3>
            <p>{{player.contract.yearByYear.length}} years</p>
          </div>
        </div>
      </div>
    </div>
    <div class="single-roster" ng-class="$ctrl.width">
      <div class="receiving-summary" ng-show="$ctrl.teamTwo.active">
        <div class="receiving-number">
          <p>Getting {{$ctrl.teamTwo.receiving.players.length}} player(s)</p>
        </div>
        <div class="receiving-money">
          <p>${{$ctrl.teamTwo.receiving.money | number}}</p>
        </div>
      </div>
      <div class="roster-header" ng-show="$ctrl.teamTwo.active">
        <p>{{$ctrl.teamTwo.team.name}} roster</p>
      </div>
      <div class="player-container" ng-repeat="player in $ctrl.teamTwo.team.roster" ng-class="player.background">
        <div class="choose-destination" ng-show="player.chooseDestination">
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamOne.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamTwo, $ctrl.teamOne)">{{$ctrl.teamOne.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamThree.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamTwo, $ctrl.teamThree)">{{$ctrl.teamThree.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamFour.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamTwo, $ctrl.teamFour)">{{$ctrl.teamFour.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-click="$ctrl.cancelSend(player)">Cancel</button>
        </div>
        <div class="player-standard" ng-hide="player.chooseDestination" ng-click="$ctrl.tradePlayer(player)">
          <div class="player-info">
            <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
            <p class="player-position">{{player.position}}</p>
            <p class="player-age">{{player.age}} years old</p>
          </div>
          <div class="player-contract">
            <h3>${{player.contract.yearByYear[0] | number}}</h3>
            <p>{{player.contract.yearByYear.length}} years</p>
          </div>
        </div>
      </div>
    </div>
    <div class="single-roster" ng-class="$ctrl.width" ng-show="$ctrl.teamThree.active">
      <div class="receiving-summary" ng-show="$ctrl.teamThree.active">
        <div class="receiving-number">
          <p>Getting {{$ctrl.teamThree.receiving.players.length}} player(s)</p>
        </div>
        <div class="receiving-money">
          <p>${{$ctrl.teamThree.receiving.money | number}}</p>
        </div>
      </div>
      <div class="roster-header" ng-show="$ctrl.teamThree.active">
        <p>{{$ctrl.teamThree.team.name}} roster</p>
      </div>
      <div class="player-container" ng-repeat="player in $ctrl.teamThree.team.roster" ng-class="player.background">
        <div class="choose-destination" ng-show="player.chooseDestination">
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamOne.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamThree, $ctrl.teamOne)">{{$ctrl.teamOne.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamTwo.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamThree, $ctrl.teamTwo)">{{$ctrl.teamTwo.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamFour.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamThree, $ctrl.teamFour)">{{$ctrl.teamFour.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-click="$ctrl.cancelSend(player)">Cancel</button>
        </div>
        <div class="player-standard" ng-hide="player.chooseDestination" ng-click="$ctrl.tradePlayer(player)">
          <div class="player-info">
            <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
            <p class="player-position">{{player.position}}</p>
            <p class="player-age">{{player.age}} years old</p>
          </div>
          <div class="player-contract">
            <h3>${{player.contract.yearByYear[0] | number}}</h3>
            <p>{{player.contract.yearByYear.length}} years</p>
          </div>
        </div>
      </div>
    </div>
    <div class="single-roster" ng-class="$ctrl.width" ng-show="$ctrl.teamFour.active">
      <div class="receiving-summary" ng-show="$ctrl.teamFour.active">
        <div class="receiving-number">
          <p>Getting {{$ctrl.teamFour.receiving.players.length}} player(s)</p>
        </div>
        <div class="receiving-money">
          <p>${{$ctrl.teamFour.receiving.money | number}}</p>
        </div>
      </div>
      <div class="roster-header" ng-show="$ctrl.teamFour.active">
        <p>{{$ctrl.teamFour.team.name}} roster</p>
      </div>
      <div class="player-container" ng-repeat="player in $ctrl.teamFour.team.roster" ng-class="player.background">
        <div class="choose-destination" ng-show="player.chooseDestination">
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamOne.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamFour, $ctrl.teamOne)">{{$ctrl.teamOne.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamTwo.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamFour, $ctrl.teamTwo)">{{$ctrl.teamTwo.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-show="$ctrl.teamThree.active" ng-click="$ctrl.sendPlayer(player, $ctrl.teamFour, $ctrl.teamThree)">{{$ctrl.teamThree.team.name}}</button>
          <button type="button" class="kb-send-btn" ng-click="$ctrl.cancelSend(player)">Cancel</button>
        </div>
        <div class="player-standard" ng-click="$ctrl.tradePlayer(player)" ng-hide="player.chooseDestination">
          <div class="player-info">
            <h3>{{player.firstName[0]}}. {{player.lastName}}</h3>
            <p class="player-position">{{player.position}}</p>
            <p class="player-age">{{player.age}} years old</p>
          </div>
          <div class="player-contract">
            <h3>${{player.contract.yearByYear[0] | number}}</h3>
            <p>{{player.contract.yearByYear.length}} years</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
